*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
}
.navigation{
    margin: 0;
    position: sticky;
    top: 0;
}
.navigation__logo{
    display: flex;
    align-items: center;
}
.hamburger{
    padding-right: 1rem;
}
.navbar__search{
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
}
.search__box{
    width: 100%;
    border-radius: 5px;
    padding: .7rem .4rem;
    outline: none;
    border-width: 0;
    border: 1px solid #111;
    padding-left: 3rem;
}

.search__icon{
    position: absolute;
    padding: 0 .8rem;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge__icon{
    font-size: 1.2rem;
    padding-right: .2rem;
    padding-bottom: .3rem;
}
.badge__number{
    bottom: 1.2rem;
    left: 2.6rem;
}




/* Responsive Style */

@media screen and (max-width:700px) {
    html{
        font-size: 12px;
    }
    .navbar__search{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 1.3rem;
    }
}



@media screen and (max-width:400px){
    html{
        font-size: 10px;
    }
}