.product__container{
    display: flex;
}
.filter{
    display: flex;
    flex-direction: column;
    width: 18rem;
    min-height: 100vh;
    border-radius: 1px solid grey;
    padding: 1rem 2rem;
    gap: 2rem;
    border-right: 1px solid #111;
}
.filter__head,
.filter__range{
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}
.filter__heading{
    padding: .2rem 0; 
}
.slider{
    width: 100%;
    height: .438rem;
    outline: none;
    opacity: 0.7;
}
.filter__input{
    padding: .3rem 0;
}

.product{
   width: 80vw;
   margin: 0 auto;
   background-color: #f5f1f1;
}
.product__cards{
    max-width: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    text-align: center;
    
}
.heading{
    padding:2rem  2rem 0 2rem;
    font-size: 1rem;
}
.product__subtext{
    font-size: .8rem;
    padding-left: .5rem;
}
.product__card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .3s ease-in;
}
.product__card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product__image{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    display: block;
    background-color: #C4C4C480;
    padding: 1rem;
    position: relative;
 }
 .product__favourite{
     position: absolute;
     right: .2rem;
     width: 2rem;
     height: 2rem;
     border-radius: 50px;
     color: #dc143c;
     padding: .45rem;
     top: .35rem;
     background-color: #f5f1f1;
 }
.product__heading{
     padding: 1rem 0;
     font-size: 1.2rem;
     font-weight: 500;
}

@media screen and (max-width:1000px){
    .product__cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:700px) {
    .product__cards{
        grid-template-columns: 1fr;
    }
}
