:root {
    --white: #f5f1f1;
    --grey: #C4C4C480;
    --red: #dc143c;
}

.wishlist__container {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--white);
    padding-bottom: 1rem;
}

.heading {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.wishlist {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    text-align: center;
}

.wishlist__card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .3s ease-in;
}

.wishlist__card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wishlist__heading {
    padding: 2rem 2rem 0 2rem;
    font-size: 1rem;
}

.wishlist__image {
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: var(--grey);
    padding: 1rem;
    position: relative;
}

.wishlist__favourite {
    position: absolute;
    right: .2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    color: var(--red);
    padding: .45rem;
    top: .35rem;
    background-color: var(--white)
}

.wishlist__heading {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}


@media screen and (max-width:1000px) {
    .wishlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width:800px) {
    .wishlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:400px) {
    .wishlist {
        grid-template-columns: 1fr;
    }
}